body{
    line-height: 30px;
}

table{
    width: 100%;
    border-spacing: 30px;
}

th, td, .alunoNome {
    text-align: center;
}

th, .alunoNome {
    font-weight: bold;
}    

.folha_vendas_quebra{
    page-break-after: always;
}