body{
    font-family: "Trebuchet MS", Arial;
    font-size: 12px;
    color: #fff;
    background: url(../img/back.jpg) no-repeat center #04155D;
}

/*todos os links do site*/
a{
    color: #fff;
}
a:hover{
    font-weight: bold;
}


/*formulario de contato*/
.form_contato label{
    display: block;
}

.form_contato input,
.form_contato textarea{
    width: 250px;
}

.form_contato .submit{
    width: auto;
}

.form_contato div.input{
    padding-bottom: 10px;
}

.form_contato .error-message{
    color: red;
}

.form_contato div.required  label{
    font-weight: bold;
}


/*container*/
#container{
    width: 940px;
    margin: 0 auto;
}

/*titulo principal*/
h1, h2, h3{
    text-align: center;
    padding: 10px;
}

h2 {
    display: block;
    font-size: 1.5em;
    -webkit-margin-before: 0.83em;
    -webkit-margin-after: 0.83em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
}

h3 {
    display: block;
    font-size: 1.17em;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
    color: #fff;
    font-size: 19px;
}

/*tag address do rodape*/

address{
    padding: 30px 0 15px 0;
    text-align: center;
}


/*mensagen flash*/

#flashMessage{
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    color: #fff;
    background-color: #D00000;
    padding: 10px 0;
    margin: 10px 0;
}

header {
    margin: 50px 0 0 0;
}

header img {
    margin: 0 auto;
}

#menu_esquerda{
    width: 200px;
    float: left;
}

/* LOGIN */

.cx_login {
    width: 310px;
    min-height: 110px;
    background: #003399;
    padding: 9px 5px 5px 5px;
    margin: 0 auto;
}

.cx_login label {
    width: 38px;
    float: left;
    color: #fff;
    font-size: 15px;
    line-height: 32px;
    text-align: right;
    margin-right: 10px;
    margin-left: 10px;
}

.cx_login input {
    background: #FFF;
    border: 1px #000066 solid;
    height: 25px;
    width: 234px;
    line-height: 24px;
    margin: 3px 0px;
    padding: 2px 4px;
    -moz-border-radius: 3px;
    -khtml-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

.cx_login input.acessar {
    height: 28px;
    width: 89px;
    font-size: 14px;
    color: #000066;
    line-height: 25px;
    font-weight: bolder;
    padding-right: 20px;
    text-decoration: none;
    background: #FFF url(../img/set1.png) right bottom no-repeat;
    border: none;
    cursor: pointer;
    border: 1px #000066 solid;
    -moz-border-radius: 3px;
    -khtml-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    float: right;
    margin-right: 8px;
}

.aviso {
    width: 940px;
    height: 30px;
    background: url(../img/barra.png);
    margin: 46px auto;
    font-weight: normal;
    padding-top: 10px;
    font-size: 18px;
    color: #fff;
    text-align: center;
}

/* HOME*/

.dadosUsuario {
    text-align: left;
    background: #003399;
    padding: 7px 15px;
    margin: 20px 0;
    -moz-border-radius: 8px;
    -khtml-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    color: #fff;
    font-size: 16px;
}

.dadosUsuario p {
    margin: 1em 0 1em 0;
}

.recursos {
    text-align: left;
    background: #003399;
    padding: 7px 15px;
    margin: 20px 0;
    -moz-border-radius: 8px;
    -khtml-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    color: #fff;
    font-size: 16px;
}

.full-width td {
    border: 2px solid #003399;
}

.detalheData {
    background-color: #003399;
    line-height: 30px;
    font-weight: bold;
}

.detalheSimulado {
    font-weight: bold;
    width: 400px;
}

.round {
    -moz-border-radius: 8px;
    -khtml-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    line-height: 47px;
    text-align: center;
    background: url(../img/bg.png) center center repeat-x;
}

.acessar {
    background: url(../img/acessar.png) no-repeat;
    width: 104px;
    height: 47px;
    line-height: 47px;
    font-size: 10px;
    display: block;
    color: white;
    text-decoration: none;
}

.encerrado {
    background: url(../img/encerrado.png) no-repeat;
    width: 104px;
    height: 47px;
    line-height: 47px;
    font-size: 10px;
    display: block;
    color: white;
    text-decoration: none;
}

.ativo {
    background: url(../img/ativo.png) no-repeat;
    width: 104px;
    height: 47px;
    line-height: 47px;
    font-size: 10px;
    display: block;
    color: white;
    text-decoration: none;
}

fieldset {
    display: block;
    -webkit-margin-start: 2px;
    -webkit-margin-end: 2px;
    -webkit-padding-before: 0.35em;
    -webkit-padding-start: 0.75em;
    -webkit-padding-end: 0.75em;
    -webkit-padding-after: 0.625em;
    border: 2px groove threedface;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    min-width: -webkit-min-content;
    border: solid 2px red;
    border-radius: 15px;
    margin-bottom: 30px;
}

legend {
    text-align: left;
    color: red;
    font-weight: bold; 
    font-size: 17px;
}

hr {
    display: block;
    -webkit-margin-before: 0.5em;
    -webkit-margin-after: 0.5em;
    -webkit-margin-start: auto;
    -webkit-margin-end: auto;
    border-style: inset;
    border-width: 1px;
}

fieldset div {
    color: #fff;
    text-align: center;
    font-size: 15px;
}

.seiLa {
    margin: 10px auto;
    width: 320px;
    padding: 10px 10px 20px 30px;
    text-align: center;
}

.disponivelBox {
    background-color: #009933;
    height: 25px;
    width: 25px;
    float: left;
    margin-right: 7px;
}

.left {
    float: left;
}

.encerradoBox {
    background-color: #b72d00;
    height: 25px;
    width: 25px;
    float: left;
    margin-right: 7px;
}

.botao {
    width: 170px;
    height: 36px;
    background-image: url('../img/botao.png');
    background-color: transparent;
    border: none;
    margin: 10px;
    color: #006;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    display: inline-block;
    line-height: 36px;
    text-decoration: none;
}

/* Resultado */

.simuladoFinal {
    width: 738px;
    height: 364px;
    background-image: url('../img/resultado.png');
    margin: auto;
    color: #fff;
}

.disciplina {
    text-transform: uppercase;
    text-align: left;
    line-height: 60px;
    color: #FFF;
    font-size: 31px;
}

.simuladoFinal h4 {
    font-size: 15px;
    text-align: center;
    line-height: 50px;
    text-transform: uppercase;
    display: block;
    -webkit-margin-before: 1.33em;
    -webkit-margin-after: 1.33em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
}

.nota {
    font-size: 100px;
    text-align: center;
}

.suaNota {
    font-size: 30px;
    text-align: center;
}

.abc {
    width: 500px;
    margin: auto;
    padding: 50px;
    text-align: center;
    font-size: 16px;
}

.botoes_encerrado {
    width: 384px;
    margin: 0 auto;
}


/* DETALHES SIMULADO */

.detalhadoTopo {
    width: 738px;
    height: 68px;
    background-image: url('../img/resultadoDetalhadoTopo.png');
    margin: auto;
    line-height: 50px;
    text-transform: uppercase;
    font-size: 17px;
    text-align: center;
    font-weight: bold;
}

.detalhadoCentro {
    width: 738px;
    background-image: url('../img/resultadoDetalhadoCentro.png');
    margin: auto;

}

.detalhadoInferior {
    width: 738px;
    height: 59px;
    margin: auto;
    background-image: url('../img/resultadoDetalhadoInferior.png');
}

.azulLegal {
    background-color: #152757;
    padding: 5px;
}

.transparente {
    background-color: transparent;
    height: 3px;
    width: 3px;
}
.detalhadoTable {
    padding: 5px;
    width: 700px;
    border-collapse: separate;
    margin: 0 30px;
    text-align: left;
    font-size: 15px;
}

.grafico {
    width: 630px;
    margin: 0 auto;
}

/* SIMULADO */

.questaoLateral {
    float: left;
    width: 36px;
    height: 29px;
    margin-right: 2px;
    background-color: transparent;
    background-image: url(../img/questao_lateral.png);
    line-height: 29px;
    font-weight: bold;
    text-align: center;
    font-size: 15px;
}

.selectContain {
    padding: 5px 25px;
    float: left;
}

.select {
    float: left;
    width: 50px;
    height: 29px;
    font-weight: bold;
    line-height: 29px;
    text-align: center;
    padding: 0px 0px 0px 5px;
}

.selectOuter {
    width: 800px;
    margin-left: 100px;
}

.pezinho {
    width: 500px;
    float: left;
    margin: 10px;
    line-height: 18px;
    font-size: 15px;
}

.tableOuter {
    margin-bottom: 100px;
}
.avanca {
    margin-left: 130px;
}

.inicio {
    text-align: center;
    margin-left: 291px;
}

.quebrar_folha {
    page-break-after: always;
}

.espacamento {
    height: 152px;
}